.custom-toggler .navbar-toggler-icon {
    outline: none;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
  
  .custom-toggler.navbar-toggler {
    border-color: rgb(255, 102, 209);
  } 
li a,a.navbar-brand{
    color:white;
}
ul.items li
{
    margin-left:20px;
    font-size:17px;
    font-weight: normal;
}

ul li a:hover,ul li a:active
{
    text-decoration:underline;
}
.navbar-change-on-scroll
{
    background-color: white;
}

.navbar-change-on-scroll ul li a,.navbar-change-on-scroll a.navbar-brand{
    color:#1B1A4F
}


@media screen and (max-width:768px)
{
    nav
    {
        width: 100vw;

    }
}