<div class="body">
    <h1>Check Custom Plan Prices</h1>
<div class="container">
    <div class="form-style">
        <form class="example-form form-div">

<table class="table table-borderless">
    <tbody>
      <tr>
        <td>
            <label for=""  id="example-radio-group-label">Number of people</label>
        </td>
        <td>
             <mat-form-field> <input matInput value="1"></mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
            <label id="example-radio-group-label">Meals</label>
        </td>
        <td>
            <div class="check-div">
                <mat-checkbox class="check-button" checked="true">Breakfast</mat-checkbox>
                <mat-checkbox class="check-button">Lunch</mat-checkbox>
                <mat-checkbox class="check-button">Dinner</mat-checkbox>
        </div></td>
      </tr>
      <tr> 
          <td style="display: flex;flex-direction: column;">
                <label id="example-radio-group-label">Number of times cook</label>
                <label> would come everyday?</label>
            </td>
        
        <td>
            <mat-radio-group aria-label="Select an option" value="1" >
            <mat-radio-button value="1" class="radio-button" style="margin-top: 15px;">1</mat-radio-button>
            <mat-radio-button value="2" class="radio-button">2</mat-radio-button>
            <mat-radio-button value="3" class="radio-button">3</mat-radio-button>
        
            </mat-radio-group>
            </td>
      </tr>
      <tr>
          <td style="display: flex;flex-direction: column;">
            <label id="example-radio-group-label">Utensils Cleaning</label>
            <label> required?</label>
            </td>
        <td>
                <mat-radio-group aria-label="Select an option" value="yes" class="example-radio-button">
                <mat-radio-button value="yes" class="radio-button">Yes</mat-radio-button>
                <mat-radio-button value="no" class="radio-button">No</mat-radio-button>
                </mat-radio-group>
                
          </td>
      </tr>
    </tbody>
  </table>
            <button>
                Submit
            </button>

            <h2>For this customization,call us for the details.</h2>
        </form>
    </div>
    <div class="svg-container">
        <img src="assets/images/custom price illustration.svg">
    </div>
</div>
</div>